<div class="jumbotron">
    <div class="container">
        <div>
            <img src="/images/personal_photo_small.jpg" alt="personal-photo" class="img-circle hero-img"><br>
            <h1 class="hero-details hero-name">{ Arth Limchiu }</h1>
            <h4 class="hero-details hero-secondary-details">Android Developer</h4><br><br>
            <p class="hero-details hero-secondary-details">
                An Android developer<br>
                who never stops learning,<br>
                creates wonderful apps,<br>
                and loves to code.<br>
            </p><br><br><br>
            <center>
                <ul class="list-inline">
                    <li>
                        <a href="https://github.com/arthlimchiu" target="_blank">
                            <i class="fa fa-github fa-3x icon-github" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://linkedin.com/in/arthlimchiu" target="_blank">
                            <i class="fa fa-linkedin-square fa-3x icon-linkedin" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://stackoverflow.com/users/5063628/arth-limchiu" target="_blank">
                            <i class="fa fa-stack-overflow fa-3x icon-stack-overflow" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://play.google.com/store/apps/developer?id=Arth+Limchiu" target="_blank">
                            <i class="fa fa-android fa-3x icon-play-store" aria-hidden="true"></i>
                        </a>
                    </li>
                </ul>
            </center>
        </div>
        <!-- <div id="particles-js" class="particles">
        </div> -->
    </div>
</div>
