<div class="container-fluid ripe-mango-bg">
    <div class="row">
        <div id="ripe_mango" class="col-md-6">
            <img src="/images/ripe_mango_showcase.png" alt="ripe-mango-showcase" class="portfolio-ripe-mango">
        </div>
        <div id="ripe_mango_details" class="col-md-6">
            <h2 id="ripe_mango_name" class="app-name">RipeMango</h2><br>
            <a href='https://play.google.com/store/apps/details?id=com.arthlimchiu.ripemango&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1' target="_blank">
                <img id="ripe_mango_badge" alt='Get it on Google Play' src='/images/google_play_badge.png' class="google-play-badge"/>
            </a><br><br><br>
            <p id="ripe_mango_p1" class="app-details">
                Are you the person who forgets the movies you should've watched?
            </p><br>
            <p id="ripe_mango_p2" class="app-details">
                RipeMango is a simple app to discover movies and add movies you like to your watchlist.
            </p><br>
            <p>
                <ul id="ripe_mango_p3" class="app-details">
                    <li>Discover popular, upcoming and top rated movies</li>
                    <li>Bookmark movies to add them to your watchlist</li>
                    <li>View your watchlist and remove movies when you have watched them already</li>
                </ul>
            </p><br><br><br>
            <p id="ripe_mango_p4" class="app-technologies">
                Made with: Kotlin, RxJava2, Dagger2, Retrofit2, Glide, Android Architecture Components
            </p>
        </div>
    </div>
</div>
