<div class="container">
    <div class="row">
        <h2 class="section-label">What I use for development</h2>
    </div><br><br>
    <div class="row">
        <div class="col-xs-4">
            <img src="/images/java.png" alt="java" class="technology-icon">
            <h4 class="technology-name">Java</h4>
        </div>
        <div class="col-xs-4">
            <img src="/images/kotlin.png" alt="kotlin" class="technology-icon">
            <h4 class="technology-name">Kotlin</h4>
        </div>
        <div class="col-xs-4">
            <img src="/images/rxjava.png" alt="rxjava" class="technology-icon">
            <h4 class="technology-name">RxJava 2</h4>
        </div>
    </div><br><br>
    <div class="row">
        <h4 class="technology-others-label">and others such as</h4><br>
        <h4 class="technology-others-label">
            Git, Dagger 2, Retrofit 2, Glide, Android Architecture Components, Mockito
        </h4>
    </div>
</div><br><br>
