---
---

@import "bootstrap";

.jumbotron {
    height: 100vh;
    background: transparent !important;
    padding-top: 100px;
}

.hero-name {
    color: #2e7d32 !important;
}

.hero-details {
    text-align: center;
}

.icon-github {
    color: #333;
}

.icon-linkedin {
    color: #0976b4;
}

.icon-play-store {
    color: #a4c639;
}

.icon-stack-overflow {
    color: #fe7a15;
}

.hero-secondary-details {
    opacity: 0.7;
}

.particles {
    position:fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    z-index: -1;
}

.hero-img {
    display: block;
    margin: auto;
    width: 180px;
    height: 180px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.portfolio-section-title {
    text-align: center;
    color: #FFFFFF;
}

.portfolio-ripe-mango {
    display: block;
    margin: auto;
    width: 40%;
    height: 40%;
}

.section-label {
    text-align: center;
}

.google-play-badge {
    width: 30%;
    height: 30%;
}

.ripe-mango-bg {
    padding: 50px;
    background-color: #212121;
}

.app-name {
    color: #FFFFFF
}

.app-details {
    color: #FFFFFF;
    opacity: 0.7;
    font-size: 20px;
}

.app-technologies {
    color: #FFFFFF;
    opacity: 0.2;
    font-size: 20px;
    font-style: italic;
}

.technology-icon {
    width: 80px;
    height: 80px;
    display: block;
    margin: auto;
}

.technology-name {
    text-align: center;
}

.technology-others-label {
    text-align: center;
    opacity: 0.7;
}

.contact-section-bg {
    background-color: #303f9f;
    padding: 50px;
}

.contact-section-cta {
    color: #FFFFFF;
    text-align: center;
}

.contact-section-details {
    font-size: 20px;
    text-align: center;
    color: #b3e5fc;
}

.navbar-menu {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
    background-color: rgba(255,255,255,0.95);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    // background-color: #000000;
}

.navbar-item {
    display: inline;
    padding: 20px;
    font-weight: bold;
    opacity: 0.7;
    text-align: center;
}

.a-menu:link {
    text-decoration: none;
    color: #000000;
    opacity: 0.7;
}

.a-menu:visited {
    color: #000000;
    text-decoration: none;
    opacity: 0.7;
}

.a-menu:hover {
    color: #2e7d32;
    text-decoration: none;
    opacity: 1;
}

.a-menu:active {
    color: #000000;
    text-decoration: none;
    opacity: 0.7;
}
