<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>

    <!-- {% include header.html %} -->

    {% include me.html %}

    {% include portfolio.html %}

    <!-- {% include footer.html %} -->

    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="{{ site.baseurl }}/assets/javascripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{ site.baseurl }}/assets/javascripts/particles.min.js"></script>
    <script type="text/javascript" src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>
    <script>
        particlesJS.load('particles-js', 'assets/particles.json', function() {
            console.log('callback - particles.js config loaded');
        });
    </script>
    <script>
        window.sr = ScrollReveal({ reset: true });
        sr.reveal(document.getElementById('ripe_mango'), { duration: 1000 }, 50);
        sr.reveal(document.getElementById('ripe_mango_name'), { duration: 2000 }, 50);
        sr.reveal(document.getElementById('ripe_mango_badge'), { duration: 3000 }, 50);
        sr.reveal(document.getElementById('ripe_mango_p1'), { duration: 4000 }, 50);
        sr.reveal(document.getElementById('ripe_mango_p2'), { duration: 5000 }, 50);
        sr.reveal(document.getElementById('ripe_mango_p3'), { duration: 6000 }, 50);
        sr.reveal(document.getElementById('ripe_mango_p4'), { duration: 7000 }, 50);
        // sr.reveal(document.getElementById('ripe_mango'), 1000);
        // sr.reveal(document.getElementById('ripe_mango_name'), 2000);
        // sr.reveal(document.getElementById('ripe_mango_badge'), 3000);
        // sr.reveal(document.getElementById('ripe_mango_p1'), 4000);
        // sr.reveal(document.getElementById('ripe_mango_p2'), 5000);
        // sr.reveal(document.getElementById('ripe_mango_p3'), 6000);
        // sr.reveal(document.getElementById('ripe_mango_p4'), 7000);
    </script>

  </body>

</html>
