---
layout: default
---

<div class="home">

  <h1 class="page-heading">Hi! I'm Arth.</h1>

  {{ content }}

  <div class="post-content">
    I'm an Android developer. I love working with Android open-source libraries
    and how to apply them in our projects. This personal blog is my journey to
    becoming a good developer.
  </div>

  <div class="post-content">
    I started developing for Android around 2013. Here are some of the apps that
    I've worked on:
    <ul class="post-list">
      <a href="https://play.google.com/store/apps/details?id=com.arthlimchiu.ripemango" rel="external nofollow" title="RipeMango" target="_blank">
        <img src="/images/ripemango.png" alt="RipeMango">
      </a>
    </ul>
  </div>

  <ul class="post-list">
    {% for post in site.posts limit:10 %}
      <li>
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        <span class="post-meta">{{ post.date | date: date_format }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

</div>
